.auth-block {
    width: 400px;
    left: 35%;
    margin-top: 200px;
    position: fixed;
    padding: 20px;
    border: 1px solid rgba(0, 1, 0, 0.3);
}

.submit-login-button {
    margin: 10px;

}

.create-product-card, .updateProductCard {
    left: 35%;
    margin-top: 100px;
    padding: 20px;
}

.no-products-block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.no-products-block h1 {
    font-size: 70px;
}

.characteristic-desc {
    font-size: 30px;
}

.category, .price, .description {
    font-size: 20px;
    color: rgba(0,0,0,0.5)
}

.category-content, .price-content {
    font-size: 20px;
    color: rgba(0,0,0,0.8)
}

.control-buttons {
    margin-top: 10px;
}

.title-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.title-box div {
    font-size: 45px;
    text-align: center;
}

.description-content {

    width: 100%;
    margin-top: 20px;
    word-wrap: break-word;
    max-width: 350px;
}


.pagination-block {

    margin-top: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.loading-block {
    display: flex;
    justify-content: center;
    padding-top: 18rem;
}

.loading-spinner {
    width: 7rem;
    height: 7rem;
}

.cart-title-col, .cart-description-col, .cart-price-col, .cart-category-col, .cart-quantity-col {
    display: flex;
    border: 1px solid gainsboro;
}

.create-order-block-final-price {
    display: flex;
    font-size: 20px;
}

.create-order-block-final-price p {
    margin: auto;
}


.cart-title-col p, .cart-description-col p, .cart-price-col p, .cart-category-col p, .cart-quantity-col p {
    margin: auto;
    font-size: 20px;
}

.cart-img {
    margin: auto;
}

.cart-img-container {
    padding-left: 55px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.go-to-order-btn {
    display: block;
    font-size: 30px;
    width: 200px;
    margin: 30px auto;
    background-color: #E0FFFF;
    color: black;
}

.delete-from-cart-btn {
    display: block;
    font-size: 20px;
    width: 200px;
    margin: 0 auto;
}

.final-price-content {
    font-size: 50px;
}

.order-img-row, .order-title-row, .order-description-row, .order-price-row, .order-category-row, .order-quantity-row {
    font-size: 30px;
    text-align: center;
}

.cart-data-info {
    display: flex;
    justify-content: center;
    padding-top: 18rem;
    font-size: 50px;
}

.search-block {
    width: 100%;
    margin: 0 40px 0 40px;
}

.navbar-block {
    position: sticky;
    top: 0;
    z-index: 999999;
}

.container {
    margin-right: 120px;
    max-width: 1100px;
}